#header {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
  .social {
    display: flex;
    .social-items {
      align-self: center;
    }
  }
  .brand {
    font-family: $font-main;
    font-weight: 600;
    font-size: 2em;
  }
}

@media (max-width: 750px) {
  #header {
    display: flex;
    flex-direction: column;
    text-align: center;
    .brand {
      margin-bottom: 15px;
    }
    .social {
      display: flex;
      justify-content: center;
    }
  }
}
