#hero {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  .intro {
    text-align: center;
    img {
      width: 150px;
    }
    .title {
      margin: 1em;
      font-size: 2em;
      text-transform: capitalize;
    }
  }
}
