#hero {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  .intro {
    text-align: center;
    img {
      width: 150px;
    }
    .title {
      font-size: 3em;
    }
  }
}
