// --------------------------------------------------------------------
// Base Styling
// --------------------------------------------------------------------
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: $font-main;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-secondary;
}

.title {
  padding: 0;
}
