// --------------------------------------------------------------------
// Variables
// --------------------------------------------------------------------


// Brand Colors
// -------------------------
$brand-primary: #FF1744;
$brand-secondary: #30cfff;

// Theme Colors
// -------------------------
$slate: #373c3d;
$dark: #1F1F1F;
$white: #FFF;
$black: #000;

// Grays
// -------------------------
$gray-base: #000 !default;
$gray-darker: lighten($gray-base, 13.5%) !default; // #222
$gray-dark: lighten($gray-base, 20%) !default;   // #333
$gray: lighten($gray-base, 33.5%) !default; // #555
$gray-light: lighten($gray-base, 46.7%) !default; // #777
$gray-lighter: lighten($gray-base, 93.5%) !default; // #eee
